body{
  margin: 0;
}
#gameDiv{
  position: relative;
  
  margin: auto;
}
#overlay{
  background-color: #fff;
  visibility: hidden;
  position: absolute;
  top: 20px;
  bottom: 20px;
  width:88%;
  margin-left: 6%;
  text-align:center;
  z-index: 1000;
  overflow-y: scroll;
  box-shadow: -1px 2px 15px -1px #000;
}
#overlay div{
  margin: auto;
  background-color: white;
  padding:15px;
}
.close{
  width: 50px;
  height: 50px;
  
  border: solid 1px black;
}

#calculationDisplay{
  border: solid 1px black;

}
#calculationDisplay > div{
  margin: 3px auto;
}
#minuend button{
  display: block;
}
#subtrahend{
  margin-bottom:10px !important;
}
#subtrahend .minusSign{
  position: absolute;
  left: 10px;
  font-size:3em;
}
#resultSubtraction{
  padding-top: 20px !important;
  border-top: solid 1px black;
}
.box, .row.borrow button{
  border: solid 1px black;
  display: inline-block;   
  width: 10%;       
}

#numberButtons{
  border: solid 1px black;
}
#numberButtons .row{
  padding: 2px !important;
}
#numberButtons button{
  width: 15%;
  height: 2em;
}
